<form class="signin-form" 
      (ngSubmit)="signin(signinForm.value.email, signinForm.value.password)" #signinForm="ngForm" >
  <mat-form-field >
    <input matInput type="text" placeholder="Email" name="email" ngModel required>
  </mat-form-field>

  <mat-form-field>
    <input matInput type="password" placeholder="Şifre" name="password" ngModel required>
  </mat-form-field>

  <a style="float: right; text-align:right" routerLink="/resetpassword">Şifrenizi mi unuttunuz?</a>
  <br>
  <button type="submit" mat-raised-button color="primary">Giriş Yap</button>
  <p> Henüz üye değil misiniz ?  <a routerLink="/signup">Hesabınızı yaratın.</a> </p>
  <br> 
  <mat-error *ngIf="errorMessage"> {{ errorMessage }} </mat-error>
</form>