
<app-navbar></app-navbar>
<div class="button-row">
    <button mat-button color="primary" (click)="filter('1')">En Pahalılar</button>
    <button mat-button color="primary" (click)="filter('2')">En Ucuzlar</button>
    <button mat-button color="primary" (click)="filter('3')">En çok yorum alanlar</button>
</div>
  <div class="card-deck" align="center" *ngIf="shoes.length > 0;else no_result">
      <div class="col-md-4" *ngFor="let shoe of shoes">
        <a (click)="showDetailsPage(shoe)">
        <div class="card">
            <img class="card-img-top" src="{{ shoe.Image }}" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">{{ shoe.Name }} {{ shoe.BrandName }}</h5>
              <p class="card-text"> 
                  <ngb-rating [rate]="currentRate"></ngb-rating>
              </p>
              <p class="card-text"><b style="color:indigo"> {{ shoe.SalePrice }} TL</b></p>
              <p class="card-text"><small class="text-muted"> {{ shoe.SimilarWith.length}} fiyat var ></small></p>
            </div>
        </div>   
        </a>  
      </div>
  </div>

  <ng-template #no_result>Üzgünüz Hiç sonuç bulunamadı...</ng-template>


  
  <!-- https://www.epttavm.com/magaza/sporthink -->