
<app-navbar></app-navbar>
<div class="button-row">
    <button mat-button color="primary">En Pahalılar</button>
    <button mat-button color="primary">En Ucuzlar</button>
    <button mat-button color="primary">En çok yorum alanlar</button>
</div>
  <div class="card-deck" align="center">
      <div class="col-md-3" *ngFor="let shoe of shoes">
        <div class="card">
            <div class="card-body">
              <h5 class="card-title">{{ shoe.Name }} {{ shoe.BrandName }}</h5>
              <p class="card-text"> 
              
              </p>
              <p class="card-text"><small class="text-muted"> {{ shoe.SalePrice }} TL</small></p>
            </div>
          </div>
        <br> <br> <br>          
      </div>
  </div>
