<nav class="navbar navbar-default navbar-expand-lg navbar-light">
    <div class="navbar-header d-flex col">
      <a class="navbar-brand" routerLink="/">Price<b>Tracker</b></a>  		
      <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle navbar-toggler ml-auto">
        <span class="navbar-toggler-icon"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <!-- Collection of nav links, forms, and other content for toggling -->
    <div id="navbarCollapse" class="collapse navbar-collapse justify-content-start">
      <form class="navbar-form form-inline">
        <div class="input-group search-box">								
          <input type="text" id="search" class="form-control"  placeholder="Aradığını yaz, en ucuzu bul" (keyup.enter)="search(searchTerm.value)" #searchTerm>
          <span class="input-group-addon"><i class="material-icons">&#xE8B6;</i></span>
        </div>
      </form>
      <ul class="nav navbar-nav navbar-right ml-auto">			
        <li class="nav-item" *ngIf="!(authService.User$ | async)">  
            <a class="nav-link" routerLink="/signin" >Giriş Yap </a>
        </li>
        <li class="nav-item" *ngIf="!(authService.User$ | async)">
            <a class="nav-link" routerLink="/signup" style="color:#33cabb;" >Kayıt Ol </a>
        </li>
      </ul>
      <ul class="nav navbar-nav"  *ngIf="authService.User$ | async as User">		
          <li ngbDropdown class="nav-item dropdown">
            <a ngbDropdownToggle  data-toggle="dropdown" class="nav-link dropdown-toggle" > {{ User.displayName}} <b class="caret"></b></a>
            <ul ngbDropdownMenu class="dropdown-menu">					
              <li><a href="#" class="dropdown-item">Alarmlarım</a></li>
              <li><a href="#" class="dropdown-item">Profilim</a></li>
              <li><a (click)="signOut()" class="dropdown-item">Çıkış Yap</a></li>
            </ul>
          </li>
        </ul>
    </div>
</nav>