<app-navbar></app-navbar>
<div class="detailClass" *ngIf="shoe$ | async as shoe; else loading">
  <div class="row">
    <div class="col">
      <h4 class="title">{{shoe.Name }} - {{shoe.BrandName }}</h4>
      <div class="card">
          <img class="card-img-top" src="{{shoe.Image }}" alt="Card image cap">
      </div>
      <span>Puanı &nbsp; <ngb-rating [rate]="currentRate"></ngb-rating> &nbsp; <b>{{ shoe.RateValue }} / 10 </b> </span> 
      <br> 
      <a [routerLink]="['comments']">Yorumları gör({{ numberOfComments }})</a>
     
    </div> 

    <div class="col">
      <div class="column2">
          <ng-template #no_similar>
              <span>Fiyat: <h1><b> {{ shoe.SalePrice }}</b> TL</h1></span>
              Satıcı: {{ shoe.Seller }} <br>
              <button mat-raised-button color="primary"><a target="_blank" href="{{ shoe.DetailLink }}">Satıcıya Git</a></button>
           </ng-template>
        <div class="sellers">
          <div class="listele" *ngIf="shoe.SimilarWith.length > 0; else no_similar">
              <mat-list role="list">
                  <mat-list-item role="listitem"  *ngFor="let seller of shoe.SimilarWith | sort:'SalePrice'">
                      {{ seller.Seller }} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  <b>{{seller.SalePrice }}</b>&nbsp; TL 
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      <button mat-raised-button color="primary"><a target="_blank" href="{{seller.DetailLink }}">Satıcıya Git</a></button>
                  </mat-list-item>
              </mat-list>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<ng-template #loading>
  Loading..
</ng-template>