
<form class="signup-form" (ngSubmit)="signup(signupForm.value)" #signupForm="ngForm" >
  <mat-form-field>
    <input matInput type="text" placeholder="İsim" name="name" ngModel required>
  </mat-form-field>

  <mat-form-field>
    <input matInput type="text" placeholder="Email" name="email" ngModel required>
  </mat-form-field>

  <mat-form-field>
    <input matInput type="password" placeholder="Şifre" name="password" ngModel required>
  </mat-form-field>

  <mat-form-field>
    <input matInput type="password" placeholder="Şifre Onay" name="passwordConfirm" ngModel required>
  </mat-form-field>


  <button type="submit" mat-raised-button color="primary">Kayıt Ol</button>
  <p>Zaten bir hesabınız mı var? <a  routerLink="/signin"> Buradan giriş yapın.</a> </p>
  <br>
  <mat-error *ngIf="errorMessage">{{ errorMessage }} </mat-error>

</form>
