<form   (ngSubmit)="signup(signupForm.value)"   #signupForm="ngForm">
  <fieldset>
 
  <legend>Kayıt Formu</legend>
  
  <!-- Nameinput-->
  <div class="form-group">
    <label class="col-sm-6 control-label" for="name">İsim</label>  
    <div class="col-sm-6">
       <input id="name" name="name" type="text"  class="form-control input-md" required ngModel>
    </div>
  </div>
  
  <!-- Email input-->
  <div class="form-group">
    <label class="col-sm-6 control-label" for="email">Email</label>  
    <div class="col-sm-6">
       <input id="email" name="email" type="text"  class="form-control input-md" required ngModel>
    </div>
  </div>
  
  <!-- Password input-->
  <div class="form-group">
    <label class="col-sm-6 control-label" for="password">Şifre</label>
    <div class="col-sm-4">
       <input id="password" name="password" type="password"  class="form-control input-md" required ngModel> 
    </div>
  </div>

    <!-- Password Again-->
    <div class="form-group">
      <label class="col-sm-6 control-label" for="passwordConfirm">Şifre Onay</label>
      <div class="col-sm-4">
         <input id="passwordConfirm" name="passwordConfirm" type="password"  class="form-control input-md" required ngModel> 
      </div>
    </div>
  
  <!-- Select Basic -->
  <div class="form-group">
    <label class="col-sm-6 control-label" for="gender">Cinsiyet</label>
    <div class="col-sm-2">
        <select class="form-control" name="gender" id="gender" ngModel>
          <option value="woman">Kadın</option>
          <option value="man">Erkek</option>
        </select>
    </div>
  </div>
  
  
  <!-- Button -->
  <div class="form-group">
    <div class="col-sm-6">
      <button id="signup" name="signup" class="btn btn-info" style="float: right;">Kayıt Ol</button>
    </div>
  </div>
  
  </fieldset>
  </form>
