

  <form class="border-class" (ngSubmit)="onSubmit(searchForm.value)" #searchForm="ngForm" [hidden]="submitted">
      <div class="form-group row">
        <div class="col-sm-12">
          <label for="searchTerm">AYAKKABI MARKASI</label>
          <input type="text" class="form-control" name="searchTerm" id="searchTerm"  placeholder="Ör: Nike Hair" ngModel required>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-6">
          <label for="size">BOYUT</label>
          <input type="text" class="form-control" name="size" id="size" placeholder="Ör: 20" ngModel>
        </div>
        <div class="col-sm-6">
          <label for="gender">CİNSİYET</label>
          <select class="form-control" name="gender" id="gender" ngModel>
            <option value="woman">Kadın</option>
            <option value="man">Erkek</option>
          </select>
        </div>
      </div>
      <div class="form-group row">
        <div class=" col-sm-12">
          <button type="submit" class="btn btn-primary" [disabled]="!searchForm.form.valid">Listele bakalım!</button>
        </div>
      </div>
  </form>


<app-shoe [shoes]="shoes"></app-shoe>



 
 