<div class="row">
    <div class="col">
        <form class="border-class-logo">
          <img src="/assets/logo.png" alt="logo">
        </form>
        <form class="border-class"   (ngSubmit)="search(searchForm.value.searchTerm, searchForm.value.priceRange)"
        #searchForm="ngForm">

            <div class="form-group row">
              <div class="col-sm-12">
                <label for="searchTerm">AYAKKABI MARKASI</label>
                <select class="form-control" name="searchTerm" id="searchTerm"  ngModel>
                  <option value="adidas">Adidas</option>
                  <option value="slazenger">Slazenger</option>
                </select>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-sm-12">
                <label for="priceRange">FİYAT ARALIĞI</label>
                <select class="form-control" name="priceRange" id="priceRange"  ngModel required>
                  <option value="low">0-200 TL</option>
                  <option value="optimum">200-500 TL</option>
                  <option value="maximum">500-1000 TL</option>
                  <option value="all">0 ~ 10.000 TL</option>
                </select>
              </div>
            </div>
            <div class="form-group row">
              <div class=" col-sm-12">
                <button type="submit" class="btn btn-info" style="float: right;" 
                   [disabled]="!searchForm.form.valid">Listele bakalım!</button>
              </div>
            </div>
        </form>
    </div>
    <div class="col">
      <div style="float: right; margin:20px"> 
          <button  mat-raised-button color="secondary" routerLink="/signin">Giriş Yap</button>
          <div class="divider"></div>
          <button  mat-raised-button color="primary" routerLink="/signup">Kayıt Ol</button>
      </div>
      <div style=" float: right; margin-top:50%;">
        <h2> Spor Ayakkabıları için en ucuz fiyatları bulun.</h2>
        <p> <font color="black" style="font-weight:bold">PriceTracker</font> yüzlerce spor ayakkabısı içinden en uygun fiyatları bulma konusunda size yardımcı olur.</p>
      </div>
    </div>
</div>




 
 